#item-page {
  text-align: center;


  #settings {
    padding: 1rem;
    background-color: #111;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  table td {
    text-align: center;
  }
  table.table-row {
    margin-bottom: 1rem;
  }

  .home-button {
    margin-right: 3rem;
  }
}
